.App {
  text-align: center;
}
/* style.css */
/* Global Styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  color: #000000;
  text-decoration: none;
  transition: font-weight 0.3s, transform 0.3s;
}

a:hover {
  font-weight: 700;
  transform: scale(1.1);
}

.logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: bold;
  color: #3bb4ff;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s, transform 0.3s, font-family 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

/* Navigation Bar */
.navbar {
  background: #ffffff;
  /* Green background */
  color: rgb(0, 0, 0);
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 100px -5px #a5a5a5;
}

.navbar .container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 5px 20px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.navbar .nav-links li {
  margin: 0;
  margin-top: 5px;
}

.navbar .nav-links a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 8px 12px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: #030303;
  /* Match navbar background */
  color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar .sidebar-links {
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style: none;
  padding: 20px;
  margin:14px auto;
}

.sidebar .sidebar-links li {
  margin: 0;
}

.sidebar .sidebar-links a {
  color: white;
  font-size: 10px;
  padding: 10px 0;
  display: block;
}

.sidebar .close-sidebar {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Show sidebar on mobile */
.sidebar.open {
  transform: translateX(0); /* Show the sidebar */
}
.show-sidebar {
  transform: translateX(0);
}

/* Hero Section */
.hero {
  background: #e9ecef;
  /* Light grey background */
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 36px;
  margin: 0;
}

.hero p {
  font-size: 20px;
}

/* News Section */
.news-section {
  padding: 40px 20px;
  background: #f1f8f4;
  /* Very light green background */
}
#news h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.news-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* News Articles */
#news-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* News Article Container */
.news-article {
  display: flex;
  flex-wrap: initial;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background: #ffffff;
  gap: 15px;
}

/* Image Style */
.news-article-img {
  flex: 1 1 auto;
  max-width: 300px; /* Adjust width as needed */
 max-height: 250px;
}

.news-article-img img {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 2px;
}

/* Content Style */
.news-article-content {
  flex: 2 1 auto; /* Allows content to expand and fill remaining space */
  max-width: calc(100% - 310px); /* Adjust based on image width */
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  padding:8px 5px;
  background-color: #1E88E5;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #1E88E5;
  border-radius: 5px;
}

.read-more:hover {
  background-color: #ffff;
  color: #1E88E5;
  transform: scale(1);
}
/* Footer */
.main-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
.small-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
#country-select{
  padding: 5px;
}

#country-select {
  font-family: auto;
  font-size: 16px;
  padding: 0px;
  border-radius: 5px;
  margin: 0;
  background-size: 20px 15px; /* Adjust size as needed */
  background-color: white; /* Make sure the background is white for better contrast */
}

#country-select option {
  background-size: 20px 15px; /* Adjust size to match the flag images */
}
/* Loader container styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full viewport height for centering vertically */
}

/* Loader styles */
.loader {
  border: 16px solid #f3f3f3; /* Light gray background */
  border-radius: 50%; /* Makes the loader round */
  border-top: 16px solid #3498db; /* Blue color for the spinner */
  width: 120px; /* Loader diameter */
  height: 120px; /* Loader diameter */
  -webkit-animation: spin 2s linear infinite; /* For Safari */
  animation: spin 2s linear infinite; /* For other browsers */
}
.d-none{
  display: none;
}
/* Keyframes for spinning animation */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbar .nav-links {
      display: none;
      /* Hide navbar links on mobile */
  }

  .menu-toggle {
      display: block;
      /* Show menu toggle button */
  }
  .news-article img {
      border-radius: 2px;
      margin: 10px 0px 10px 0px;
  }
  .news-article {
      flex-direction: column; /* Stack image and content vertically */
  }

  .news-article-img {
      border-radius: 2px;
      margin: 10px 0px 10px 0px;
      max-width: 100%; /* Ensure image takes full width */
  }

  .news-article-content {
      max-width: 100%; /* Content takes full width */
  }
}

@media (max-width: 480px) {
  .navbar .nav-links {
      display: none;
      /* Hide navbar links on smaller screens */
  }

  .menu-toggle {
      display: block;
      /* Show menu toggle button */
  }

  .sidebar .sidebar-links a {
      font-size: 14px;
  }
  .news-article {
      flex-direction: column; /* Stack image and content vertically */
  }

  .news-article-img {
      border-radius: 2px;
      margin: 10px 0px 10px 0px;
      max-width: 100%; /* Ensure image takes full width */
  }

  .news-article-content {
      max-width: 100%; /* Content takes full width */
  }
}

#toggleTheme {
  cursor: pointer;
  background-color: #ffffff00;
  color:#000;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

#toggleTheme:hover {
  color: #ffcc00;
}

/* Dark Mode */
/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .navbar {
  background-color: #000;
  box-shadow: none !important;
}

.dark-mode .logo {
  color: #fff;
}

.dark-mode .news-article {
  background-color: #000 !important;
}

.dark-mode .nav-links a {
  color: #ffcc00;
}

.dark-mode .menu-toggle {
  color: #848383;
}

.dark-mode #toggleTheme {
  color: #ffffff;
}

.dark-mode header,
.dark-mode .card {
  color: #ffffff;
  background-color: #000;
}

.dark-mode #toggleTheme:hover {
  color: #ffc400;
}

.dark-mode .sidebar-links a {
  color: #ffc400;
}

.dark-mode .sidebar .close-sidebar {
  color: #848383;
}

/* Default light mode */
body.light-mode {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Dark mode */
body.dark-mode {
  background-color: #000000;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.navbar {
  background-color: #f8f9fa; /* Light navbar background */
  padding: 1rem;
}

.navbar.dark-mode {
  background-color: #444; /* Dark navbar background */
}

.nav-links li {
  display: inline;
  margin: 0 15px;
}
.theme-toggle-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit; /* Inherit color from parent */
  transition: color 0.3s, transform 0.3s; /* Smooth transitions */
}

.theme-toggle-btn:hover {
  color: #ffc400; /* Change color on hover for better visibility in dark mode */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Dark mode specific styles */
.dark-mode .theme-toggle-btn {
  color: #ffffff; /* Ensure text is visible in dark mode */
}

.dark-mode .theme-toggle-btn:hover {
  color: #ffcc00; /* Adjust hover color for dark mode */
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
